## Configuración Serilog 
# 
ASPNETCORE_Serilog_Using0=Serilog.Sinks.File 
ASPNETCORE_SerilogUsing1=Serilog.Sinks.Console 
ASPNETCORE_SerilogMinimumLevelOverrideMicrosoft=Information 
ASPNETCORE_SerilogMinimumLevelOverrideMicrosoft.EntityFrameworkCore.Database.Command=Warning 
ASPNETCORE_SerilogWriteTo0Name=Async ASPNETCORE_SerilogWriteTo0Argsconfigure0Name=Console 
ASPNETCORE_SerilogWriteTo0Argsconfigure1Name=File ASPNETCORE_SerilogWriteTo0Argsconfigure1ArgsrollingInterval=Day 
ASPNETCORE_SerilogWriteTo0Argsconfigure1Args_path=/Logs/log.log